h2{
    font-size: 26px;
    margin-left: 40px;
    background-color:#D3D3D3;
}

ul{
   margin-top: -35px;
   background-color:#D3D3D3;
}

img{
    margin-top: 25px;
}
div{
    background-color:#D3D3D3;
}
.slde_demo{
    background-color: #D3D3D3;
}
